:root {
  --clr-primary-500: hsl(0, 0%, 3%);
  --clr-accent-500: hsl(0, 0%, 96%);
  --clr-success: hsl(120, 100%, 25%);
  --clr-warning: hsl(60, 100%, 50%);
  --clr-danger: hsl(0, 100%, 50%);


  --navbar-height: 60px;
  --sidenav-width: 2rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}


.main-content {
  overflow-y: auto;
  position: absolute;
  /* padding: 0.5rem; */
  top: var(--navbar-height);
  left: 0;
  height: calc(100vh - var(--navbar-height));
  width: 100vw;
  background: var(--clr-accent-500);
}

.link-button {
  margin: 0.25em;
  padding: 1rem;
  border: 2px solid black;
}

.no-link {
  text-decoration: none;
}

.light {
  color: var(--clr-accent-500);
}

.dark {
  color: var(--clr-primary-500);
}