.form {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.form-field {
    min-height: 70px;
}

.form-field>* {
    width: 100%;
}

.form-field input {
    // margin:1rem 0;
    min-height: 60px;
    padding: 1rem;
}

.form-field select {
    padding: 1.25rem;
}

.form-field-button {
    background: var(--clr-primary-500);
    color: var(--clr-accent-500);
    border: 3px solid var(--clr-accent-500);
}





.login {
    grid-column: 3 / 11;
}

.signup {
    grid-column: 3 / 11;
}

.add-asset {
    grid-column: 3 / 11;
}